// Place all the styles related to the Picture controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#location-pictures-details {
  width: 360px;
  margin-left: 69%;
  margin-top: -395px;
}

#location-show  {
  width: 650px;
  text-align: center;
  margin-left: 4%;
  margin-top: 10px;
}

#loc-pic-opration-button {
  margin-left: 68%;
  margin-top: -110px;
}
