<ul class="list-unstyled">
<li>UserAddress : <%= object.address %></li>
<li>Description : <%= object.description%></li>
<div>
  <div  class="pull-left">
  	<button type="button" class="btn btn-primary btn-xs">Button1</button>
  </div>
  <div class="pull-right">
  	<button type="button" class="btn btn-primary btn-xs">BUtton2</button>
  </div>
</div>
<ul>