<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
      	<th>User Name</th>
      	<th>User Email</th>
      	<th>User Location</th>
      </tr>
    </thead>

    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.location %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
